<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ site_name }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.5.0/chart.umd.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">대시보드</a></li>
            <li><a href="/">연도별 집계</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>